@charset "utf-8";
/* setting */
@import url(../setting/font.css);
@import url(../setting/reset.css);
@import url(../setting/vars.css);


/* .suitNav */
.skillNav{
    position: absolute;
    top: 20px;
    left: 20px;
}
.skillNav_inner{}
.skillNav_list{
    margin-left: 20px;
}
.skillNav_list>li{
    display: inline;
    margin-right: 10px;
}
.skillNav_list>li>a{
    display: inline-block;
    font-family: var(--mainKor-font);
    font-size: 20px;
    font-weight: 500;
}

/* .skillWrap */
.skillWrap {
    width: 100%;
    height: 100vh;
    padding: 40px;
}

.mySwiper2 {
    width: 100%;
    height: 100%;
}

.page_list .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}